<div class="container">
    <div class="row">
        <h2 class="pagetitle">登録情報編集</h2>
    </div>
    <div class="row">
        <%= form_with :model => @customer, url:customer_customers_path, class:"form-horizontal" do |f| %>
            <div class="form-group">
                <label class="control-label col-xs-2 subtitle">名前</label>
                <div class="col-xs-10">
                  (姓)<%= f.text_field :last_name, class: "col-xs-3" %>
                  (名)<%= f.text_field :first_name, class: "col-xs-3" %>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2 subtitle">フリガナ</label>
                <div class="col-xs-10">
                  <p class="sub-label">(セイ)</p><%= f.text_field :last_name_kana, class: "col-xs-3" %>
                  <p class="sub-label">(メイ)</p><%= f.text_field :first_name_kana, class: "col-xs-3" %>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2 subtitle">メールアドレス</label>
                <div class="col-xs-10">
                  <%= f.text_field :email, class: "col-xs-offset-1 col-xs-6" %>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2 subtitle">郵便番号(ハイフンなし)</label>
                <div class="col-xs-10">
                  <%= f.text_field :postal_code, class: "col-xs-offset-1 col-xs-6" %>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2 subtitle">住所</label>
                <div class="col-xs-10">
                  <%= f.text_field :address, class: "col-xs-offset-1 col-xs-6" %>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-2 subtitle">電話番号</label>
                <div class="col-xs-10">
                    <%= f.text_field :phone_number, class: "col-xs-offset-1 col-xs-6" %>
                </div>
            </div>

            <div class="form-group">
                <%= f.submit "編集内容を保存する", class: "btn btn-base-1 mt-20 btn-success"  %>
                    <% if customer_signed_in? && @customer.id == current_customer.id %>
                        <%= link_to "退会", customer_customers_withdrawal_path(current_customer), method: :patch, "data-confirm" => "本当に退会しますか？", class:"btn btn-danger" %>
                    <% end %>
            </div>
        <% end %>
    </div>
</div>
