<h1>登録情報編集</h1>

    <table class="table">

        <%= form_for(@customer, url:customer_session_path) do |f| %>
    <tr>
        <td>
            <div class="form-group">
            <%= f.label :last_name, '名前（姓）' %>
            <%= f.text_field :last_name %>
            </div>
        </td>
        
        <td>
            <div class="form-group">
            <%= f.label :first_name, '（名）' %>
            <%= f.text_field :first_name %>
            </div>
        </td>
    </tr>

    <tr>
        </td>
            <div class="form-group">
            <%= f.label :last_name_kana, '（セイ）' %>
            <%= f.text_field :last_name_kana %>
            </div>
        </td>

        <td>
            <div class="form-group">
            <%= f.label :first_name_kana, '（メイ）' %>
            <%= f.text_field :first_name_kana %>
            </div>
        </td>
    </tr>

        <div class="form-group">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email %>
        </div>

        <div class="form-group">
        <%= f.label :postal_code, '郵便番号' %>
        <%= f.text_field :postal_code %>
        </div>

        <div class="form-group">
        <%= f.label :address, '住所' %>
        <%= f.text_field :address %>
        </div>

        <div class="form-group">
        <%= f.label :phone_number, '電話番号' %>
        <%= f.text_field :address %>
        </div>

        <%= f.submit "編集内容を保存する" %>

        <%= f.submit "退会する" %>

<% end %>

</table>