<div class="container">
    <div class="row">
        <h2 class="pagetitle">注文情報入力</h2>
    </div>

    <%= form_with(url:customer_orders_log_path, method: :get, local: true) do |f| %>
    <h3 class="subtitle">支払い方法</h3>
        <div class="sab-text">
            <%= f.radio_button :payment_method, :クレジットカード, checked: "checked"%>
            <%= f.label :クレジットカード, class: "payment_method_label" %>
        </div>
        <div class="sab-text">
            <%= f.radio_button :payment_method, :銀行振り込み %>
            <%= f.label :銀行振り込み, class: "payment_method_label" %>
        </div>
    <h3 class="subtitle">お届け先</h3>
        <h4 class="sab-text"><%= f.radio_button :addresses, "address1", checked: "checked" %>ご自身の住所</h4>
        <div class="sab-text">
            <%= "#{current_customer.postal_code} #{current_customer.address}" %>
            <%= "#{current_customer.first_name} #{current_customer.last_name}" %>
        </div>
        <h4 class="sab-text"><%= f.radio_button :addresses, "address2" %>登録済住所から選択</h4>
        <div class="sab-text">
            <%= f.collection_select(:address_id, @addresses, :id, :order_address) %>
        </div>
        <h4 class="sab-text"><%= f.radio_button :addresses, "address3" %> 新しいお届け先 </h4>
        <div class="sab-text">
            <div class="row">
                <div class="col-xs-3">
                    <%= f.label :"郵便番号（ハイフンなし）" %>
                </div>
                <div class="col-xs-3">
                    <%= f.text_field :postal_code %>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3">
                <%= f.label :"住所" %>
                </div>
                <div class="col-xs-3">
                <%= f.text_field :address %>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3">
                    <%= f.label :"宛名" %>
                </div>
                <div class="col-xs-3">
                    <%= f.text_field :name %>
                </div>
            </div>
        </div>
        <%= f.submit "確認画面へ進む",class: "btn btn-success" %>
    <% end %>
</div>