<div class="container">
<h2>注文履歴詳細</h2>
<table class="table table-bordered">
<h4>注文情報</h4>
	<thead>
		<tr>
			<th class="info">注文日</th>
			<td><%= @order.created_at.strftime("%Y/%m/%d") %></td>

			<th class="info">配送先</th>
			<td><%= @order.postal_code %><br>
                <%= @order.address %><br>
                <%= @order.name %><br></td>

			<th class="info">支払い方法</th>
			<td><%= @order.payment_method %></td>

			<th class="info">ステータス</th>
			<td><%= @order.status %></td>

		</tr>
	</thead>
</table>

 <table class="table table-bordered">
 <h4>注文内容</h4>
    <thead>
  	    <tr class="info">
  	      	<th>商品</th>
  	        <th>単価(税込)</th>
  	      	<th>個数</th>
  	      	<th>小計</th>
  	    </tr>
	</thead>
	<tbody>
        	<% @order_products.each do |order_product| %>
        <tr>
  	        <td><%= order_product.product.name %></td>
  	        <td class="text-right"><%= ((order_product.product.price * 1.1).round(2)).ceil %>円</td>
  	        <td><%= order_product.quantity %></td>
  	        <td><%= ((order_product.product.price * 1.1).round(2)).ceil * order_product.quantity %>円</td>
        </tr>
        <% end %>
    </tbody>
</table>


<table class="table table-bordered">
<h4>請求情報</h4>
	<thead>
		<tr>
			<th class="info">商品合計</th>
			<td><%= @order.total_price %></td>
			<th class="info">配送料</th>
			<td>800</td>

			<th class="info">ご請求額</th>
			<td><%= ((@order.total_price + 800 * 1.1).round(2)).ceil %></td>

		</tr>
	</thead>
</table>

</div>

