<div class="container">
	<div class="row">
		<%= render "genre_search", genres: @genres %>
		<div class="col-xs-10">
			<h2 class="pagetitle">商品情報</h2>
			<div class="product-show-img">
				<%= attachment_image_tag(@product, :image, :fill, 400, 250, fallback: "no_image.jpg") %>
			</div>
			<div class="product-show-text col-xs-6">
				<div>
					<h2 class="subtitle"><%= @product.name %></h2>
				</div>
				<div class="product-show-introduction">
					<%= @product.introduction %>
				</div>
				<div class="product-show-price">
					<h3 class="product-item-price">¥<%= ((@product.price * @tax).round(2)).ceil.to_s(:delimited) %>(税込)</h3>
				</div>
				<div class="row">
					<div class="col-xs-offset-4 col-xs-8">
						<%= form_for(@cart_product, url: customer_cart_products_path) do |f| %>
							<%= f.select :quantity, [["1個","1"],["2個","2"],["3個","3"],["4個","4"],["5個","5"],
													["6個","6"],["7個","7"],["8個","8"],["9個","9"],["10個","10"]],
													 include_blank: "選択してください" %>
							<%= f.hidden_field :product_id, value: @product.id %>
							<%= f.submit "カートに入れる", class: "btn btn-warning" %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
