<div class="container">
	<div class="row">
		<%= render "genre_search", genres: @genres %>
		<div class="col-xs-10">
			<div class="main-visual clearfix">
				<img class="top-img" src="/assets/top.jpg"  width="425">
				<div class="top-copy">
					<h3>ようこそ、ながのCAKEへ！</h3>
					<p>このサイトは、ケーキ販売のECサイトです。	<br>
						会員でない方も商品の閲覧はできますが、<br>
						購入には会員登録が必要です。</p>
				</div>
			</div>

			<h2 class="pagetitle">オススメ商品</h2>
			<% @all_ranks.each.with_index(1) do |all_rank,i| %>
				<div class="product-item clearfix">
					<%= link_to customer_product_path(all_rank) do %>
						<div class="product-item-img">
							<%= attachment_image_tag(all_rank, :image, :fill, 200, 150, fallback: "no_image.jpg") %>
						</div>
						<div class="product-item-name">
							<p><%= i %> 位</p>
					   	 	<%= all_rank.name %>
					   	</div>
					<% end %>
					<% if all_rank.is_active == true %>
						<p class="product-item-price">¥<%= ((all_rank.price * @tax).round(2)).ceil.to_s(:delimited) %></p>
					<% elsif all_rank.is_active == false %>
						<p>販売停止中</p>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>
