
<div class="container">



<h2>商品編集</h2>

    <%= render "layouts/error_messages", model: @product %>

      <%= form_with :model => @product, url:admin_product_path(@product), method: :patch, local: true  do |f| %>


		    <div class="field row">
			<%= f.attachment_field :image, class: 'img_field' %>
			<%= attachment_image_tag @product, :image, size:'200x200', format: 'jpeg', fallback: 'no_image.jpg', size:'200x200', onClick: "$('.img_field').click()", class: 'img-thumbnail img-responsive img_prev' %><br>
		    </div>

		    <div class="field row">
			<%= f.label :"商品名" %><br>
			<%= f.text_field :name %>
		    </div>

			<div class="field row">
			<%= f.label :"商品説明" %><br>
			<%= f.text_area :introduction %>
		    </div>

			<div class="field row">
			<%= f.label :"ジャンル" %><br>
			<%#= f.select :name, options_for_select(ProductGenre.name), {prompt: "選択してください"}, class: "name-select"%>
			<%= f.collection_select(:product_genre_id, @genres, :id, :name, prompt: "--選択してください--") %>
		    </div>

			<div class="field row">
			<%= f.label :"税抜価格" %><br>
			<%= f.text_field :price %>円
		    </div>

			<div class="field row">
			<%= f.label :"販売ステータス" %><br>
			<%= f.select :is_active, [['販売中', true], ['販売停止', false]] %>
		    </div>

		    <div class="actions row"><br />
		    <%= f.submit "変更を保存" %>
		    </div>

    <% end %>
</div>