 
<div class="container">


 <h2>商品新規登録</h2>
      <%= form_with :model => @product, url:admin_products_path(@product), method: :post, local: true  do |f| %>

	    <%= render "layouts/error_messages", model: @product %>


		<div>
			<%= f.attachment_field :image, class: 'img_field', style: 'display:none;' %>
			<%#= attachment_image_tag f, :image, :fill, 100, 100, format: 'jpeg', fallback: 'no-image.jpg', onClick: "$('.img_field').click()", class: 'center-block img-thumbnail img-responsive img_prev' %>
		</div>

		<div>
			<div class="field row">
			<%= f.label :"商品名" %><br />
			<%= f.text_field :name %>
		    </div>

		    <div class="field row">
			<%= f.label :"商品説明" %><br />
			<%= f.text_area :introduction %>
		    </div>


			<div class="field row">
			<%= f.label :"ジャンル" %><br />
			<%#= f.select :name, options_for_select(ProductGenre.name), {prompt: "選択してください"}, class: "name-select"%>
			<%= f.collection_select(:product_genre_id, @genres, :id, :name, prompt: "--選択してください--") %>
		    </div>

			<div class="field row">
			<%= f.label :"税抜価格" %><br />
			<%= f.text_field :price %>円
		    </div>

			<div class="field row">
			<%= f.label :"販売ステータス" %><br />
			<%= f.select :is_active, [['販売中', true], ['販売停止', false]] %>
            </div>

            <div class="actions row"><br />
		    <%= f.submit "新規登録" %>
		    </div>

    <% end %>
</div>
