<div class="container">
	<div class="row">
    	<h2 class="pagetitle">配送先登録/一覧</h2>
    </div>
    <div class="row">
    	<%= form_with :model => @address, url:customer_addresses_path, method: :post, local: true, class:"form-horizontal" do |f| %>
		  <div class="form-group">
		    <label class="control-label col-xs-2 subtitle">郵便番号(ハイフンなし):</label>
		    <div class="col-xs-10">
		      <%= f.text_field :postal_code, class: "col-xs-3" %>
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="control-label col-xs-2 subtitle">住所:</label>
		    <div class="col-xs-10">
		      <%= f.text_field :address, class: "col-xs-6" %>
		  	</div>
		  </div>
		  <div class="form-group">
		    <label class="control-label col-xs-2 subtitle">宛名:</label>
		    <div class="col-xs-10">
		      <%= f.text_field :name, class: "col-xs-3" %>
		      <%= f.submit :登録する, class: "btn btn-success col-xs-offset-5 col-xs-2" %>
		    </div>
		  </div>
		<% end %>
	</div>
	<div class="row">
		<table class="table address-table">
			<thead>
				<tr>
					<th class="table-head warning">郵便番号</th>
					<th class="table-head warning">住所</th>
					<th class="table-head warning">宛名</th>
					<th class="table-head warning"></th>
				</tr>
			</thead>
	        <tbody>
	        	<% @addresses.each do |address| %>
			    	<tr>

				        <td><%= address.postal_code %></td>
					    <td><%= address.address %></td>
					    <td><%= address.name %></td>
					    <td>
			                <%= link_to '編集する', edit_customer_address_path(address), class: 'btn btn-warning' %>
					    	<%= link_to '削除する', customer_address_path(address), class: 'btn btn-danger', method: :delete %>
					    </td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
